name: Build Service

on:
  workflow_dispatch:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug secrets
        run: |
          if [ -z "${{ secrets.DOCKERHUB_USERNAME }}" ]; then echo "Username is EMPTY"; else echo "Username is SET"; fi
          if [ -z "${{ secrets.DOCKERHUB_TOKEN }}" ]; then echo "Token is EMPTY"; else echo "Token is SET"; fi